/study-management-platform-frontend/node_modules
/study-management-platform-frontend/.env
/study-management-platform-backend/node_modules
/study-management-platform-backend/.env
/study-management-platform-backend/.vscode
